@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v1/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'FiveYearsLater';
  src: url(fonts/FiveYearsLaterRegular.woff) format('woff'),
}

* {
  box-sizing: border-box;
}

.fixed {
  position: fixed;
  left: 200px;
  bottom: 0px;
  z-index: 2;
}

h1 {
  font-family: Ideology, helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align:left;
  font-size:134px;
  font-weight: 900;
  letter-spacing:-6.1px;
  line-height: 0.9;
  margin-left: -9px;
  margin-top: 16px;
  margin-bottom: 26px;
}
#title-indent {
  margin-left: -255px;
}

#byline {
  margin-left: -104px;
  margin-top: 0px;
  margin-bottom: 200px;
}

.content {
  padding-left: 40%;
  padding-right: 10%;
}



p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 24px;
  letter-spacing: -0.1px;
  line-height: 1.4;
  margin-left: 0px;

}

blockquote {
  font-family:helvetica;
  font-weight: 400;
  color: black;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 1.4;
  margin-left: 200px;
}

.quote p {
  font-family: 'Changa', sans-serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;

}

p.author {
  font-family: FiveYearsLater, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;

}

.bold {
  font-weight: bold;
}


#image {
  display: block;
  position: relative;
  top: 20px;
  margin-bottom: 80px;
  right: 100px;
  z-index: 1;
  width: auto;
  height: 400px;
  overflow: hidden;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
